<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registrationNumbers.css">
</head>
<body>
    <section class="section">
        {{{body}}}
    </section>

    <script src="/frontendfunction/registrionDisplay.js"></script>
    <script>
        setTimeout(function() {
            var invalidErrMsg = document.getElementById("invalidErrMsg");
                invalidErrMsg.style.display = "none";
            var tooShort = document.getElementById("tooShort");
                tooShort.style.display = "none";
            var tooLong = document.getElementById("tooLong");
                tooLong.style.display = "none";  
            var duplicateMsg = document.getElementById("message");
                duplicateMsg.style.display = "none";
            var clearMsg = document.getElementById("clearmsg");
                clearMsg.style.display = "none";
        }, 5000);
    </script>

</body>
</html>