body {
    background-color: azure;
}


.section{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    /* padding-left: 60px; */
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 150px;
    background-color: #7bb51860;
}
h1{
    margin-bottom: 50px;
    font-family: monospace;
    font-size: 40px;
}
input{
    margin-bottom: 60px;
    min-height: 35px;
    /* vertical-align: middle */
}

#invalidErrMsg{
    color: red;
}

#message{
    color: red;
}

#clearmsg{
    color: orange;
}

.radio{
    margin-bottom: 50px;
    /* vertical-align: middle; */
}

.registration{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(246, 246, 95);
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: larger;
}

.registration-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
  grid-gap: 10px; /* Adjust the gap between items as needed */
  max-width: 100%; /* Ensure the grid doesn't exceed the width of its container */
}

#tooShort {
    color: red;
}
#tooLong {
    color: red;
}

#specCharMsg{
    color: red;
}

.erase {
  border: none;
  background-color: #04AA6D;
  color: white;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.erase:hover {
  background-color: #ddd;
  color: black;
}

.radioFont{
    font-size: 30px;
}
input[type="radio"]{
    vertical-align: top;
}
.spacing {
   margin-right: 30px;
}
#noTowns{
    color: orange;
    font-size: large;
    font-family: cursive;
}