body {
    background-image: url('/registration.jpg');
}

.section{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
}
h1{
    margin-bottom: 50px;
    font-family: monospace;
    font-size: 40px;
}
.input{
    margin-bottom: 60px;
}

.radio{
    margin-bottom: 50px;
}

.registration{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(246, 246, 95);
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: larger;
}

.registration-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
  grid-gap: 10px; /* Adjust the gap between items as needed */
  max-width: 100%; /* Ensure the grid doesn't exceed the width of its container */
}

